<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Welcome to our Pre Sale Presentation!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        This is our new product ! 
    </mat-card-subtitle>
</mat-card>
<dl>
    <dt>Lorem Ipsum</dt>
    <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
 aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
 commodo consequat.</dd>
    <dt>Lorem ipsum dolor sit amet</dt>
    <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
 aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
 commodo consequat.</dd>
 </dl>
<ul>
    <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
    <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
    <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
    <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
 </ul>

 <div class="row">
    <div class="column">
      <img src="/assets/img/logo" alt="logo" style="width:100%">
    </div>
    <div class="column">
      <img src="/assets/img/logo" alt="logo" style="width:100%">
    </div>
    <div class="column">
      <img src="/assets/img/logo" alt="logo" style="width:100%">
    </div>
    <div class="column">
        <img src="/assets/img/logo" alt="logo" style="width:100%">
    </div>
</div>

<li>If you are interested in being called when our product is finished subscribe to our interested list by clicking in the Subscribe button</li>
<ul></ul>

<button mat-raised-button (click)="navigateToRegister()" color="warn">
    Subscribe
</button>



 